# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# ===============================
# Database
# ===============================
*.db
*.sqlite
*.sqlite3

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Logs
# ===============================
*.log